{% extends "base.twig" %}
{% block title %}
	Modifier catégorie

{% endblock %}
{% block main %}
	<!-- Conteneur principal -->
	<div id="mainContainer">
		<div
			class="form">
			<!-- Contenu principal -->
			<main
				class="main-content">
				<!-- En-tête -->
				<h2 class="heading">
					<div>
						Mettre à jour le produit #


						{{produit.id}}
					</div>
				</h2>
				<form
					action="update_categorie.php?id={{produit.id}}" method="post">
					<!-- Contenu -->
					<div
						class="content">
						<!-- Ajout de produit -->
						<div
							id="addProductForm" class="product-form">
							<!-- Nom et type-->
							<div class="input-row">
								<div class="input-group">
									<div class="mb-3">
										<label for="type">
											Nom Categorie


										</label>
										<input type="text" name="type" class="form-control" value="{{produit.type}}" required/>
									</div>
								</div>
							</div>
							<input type="submit" value="Motifier" class="validate-button"></div>
					</div>
				</form>
			</br>
			<!-- Message de sortie -->
			{% if msg %}
				<h5>
					{{ msg }}
				</h5>
			{% endif %}
		</div>
	{% endblock %}
